* {
    box-sizing: border-box;
}

.Body {
    display:grid;
    place-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Card {
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    background-color: #383A45;
    border-radius: 8px;
    color: white;
    text-align: left;
    padding: 2em;
}

@media (min-width:600px) {
    .Card {
        flex-direction: row;
    }
    .Card-body {
        text-align: left;
        padding-left: 2em;
    }

    img {
        width: 600px;
        height: 250px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 2px;

    }
}